/* GENERAL */

.vc_container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#vc_preloader{
    display:none;
}

#preloader{
    display: none;
}

.gray-text{
    color: gray;
}

.dark-gray-text{
    color: #cccccc;
}

.vc_element {
  padding: 0px !important;
}

.vc_col-sm-12 ,.wpb_column ,.vc_column_container{
    padding: 0px !important;
}

/* HERO AREA*/

#hero-area{
  background-color: #27282d;
  color: whitesmoke;
  padding-top: 100px;
  text-align: justify;
}
.hero-image{
  width: 100%;
}

/* TEXT AREA STYLES*/

#text-area{
  text-align: justify;
  line-height: 28px!important;
}

#text-area h2{
  padding-top: 40px;
  color:#27282d;
}

#text-area ul{
  list-style: none;
}

#text-area .strong{
  font-weight: bold;
}
